$react-blue: #61DAFB;
$success-green: #4CAF50;

.container{
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, footer, .content{
  border-bottom: 1px solid whitesmoke;
  margin: auto;
  padding-top: 10px;
  width:100%;
}

header .section,footer .section, .content .section{
  background-color:inherit;
  height:100%;
  margin:auto;
  width:99%;
}

header, footer {
  flex: 0 0 30px;
}

.content{
  flex: 1;
  margin-left: 12px;
}

.logo {
  height: 40px;
}

button:focus {outline:0;};

%buttonShared {
  border: none;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
}

.buttonSave {
  @extend %buttonShared;
  background-color: $success-green;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  width: 100px;
}

.buttonStep {
  @extend %buttonShared;
  background-color: $react-blue;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  width: 100px;
}

.buttonStepDisabled {
  @extend %buttonShared;
  background-color: $react-blue;
  cursor: auto;
  margin-right: 10px;
  margin-top: 10px;
  opacity: 0.4;
  padding: 10px;
  width: 100px;
}

//.navigationPanel {
//  border-top: solid 1px whitesmoke;
//  display: flex;
//  justify-content: space-between;
//  width: 30%;
//}
//
//.navigationPanel .col {
//  width: 32%;
//}
//
//.formActionPanel{
//  border: dashed 1px brown;
//  height: 50px;
//  padding-bottom: 20px;
//  padding-top: 10px;
//  text-align: right;
//  width: 255px;
//}
//
