.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  align-items: center;
}

header, footer, .content{
  padding-top: 10px;
  margin: auto;
  border-bottom: 1px solid whitesmoke;
  width:100%;
}

header .section,footer .section, .content .section{
  height:100%;
  width:99%;
  margin:auto;
  background-color:inherit;
}

header, footer {
  flex: 0 0 30px;
}

.content{
  flex: 1;
  margin-left: 15px;
}

.logo {
  height: 40px;
}

.form-control{
  font-size: 15px;
  margin: 5px;
  padding: 5px;
}

.buttonSave {
  background-color: #4CAF50; /* Green */
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  width: 100px;
}

.buttonStep {
  background-color: #61DAFB; /* React Blue */
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 100px;
}

.buttonStepDisabled {
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 10px;
  width: 100px;
}

.navigationPanel {
  border-top: solid 1px whitesmoke;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.navigationPanel .col {
  width: 32%;
}

.formActionBar{
  height: 50px;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 225px;
  text-align: right;
}
